{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Venom Blog{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <p class="mb-4"><img src="{% static 'img/logo.png' %}" alt="Image" class="img-fluid"></p>
        <h4><a href="{% url 'blog:post_search' %}">Search Blog Posts</a></h4>
        <h4><a href="{% url 'blog:post_list' %}">Blog Home page</a></h4>

        <p><b>Total post(s) count</b> : {% total_posts %}</p>
        
        <h4>Latest posts</h4>
        {% show_latest_posts 3 %}
        <ul>
            {% for post in most_commented_posts %}
               <li>
                   <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
               </li>
            {% endfor %}
            
        </ul> 
    
        <!-- You can add Social media icons below-->
        <p>
        Follow Us
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Twitter</a></li> 
        </p>
        
        <p>
            Blog Developers
            <li><a href='https://seankamugasa.github.io/'>Sean Kamugasa</a></li>
            <li><a href='https://wasswaherbert.github.io/'>Herbert Wasswa</a></li>
        </p>

        <p>
            <b>Subscribe</b>: <a href="{% url 'blog:post_feed' %}">RSS feed</a>
        </p>

    </div>
</body>
</html>